*{box-sizing: border-box;}
body{
    margin: 0;
    font-family:  'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #333
}
.container{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
}
.d-flex{
    display: flex;
}
.d-block{
    display: block;
}
.justify-content-between{
    justify-content: space-between;
}
.list-style-none{
    margin: 0;
    padding: 0;
    list-style: none;
}
.align-items-center{
    align-items: center;
}
.text-center{
    text-align: center;
}
.red{
    color: #ff5656;
}
.bold{
    font-weight: 700;
}
a{
    text-decoration: none;
    color: #2b2b2b;
}


/* ##########HEADER###########*/
header{
    padding-top: 10px;
}
.mainlogo>img{
    height: 40px
}
.loging{
    border: 1px solid #ccc;
    font-size: 13px;
    padding: 3px 8px;
}
.top-nav>li:not(:first-child){
    margin-left: 25px;
}
.top-nav>li a,
.top-nav>li a span.material-symbols-outlined{
    color: #999;
}
.top-nav>li a,
.top-nav>li a span.material-symbols-outlined:hover{
    color: #2b2b2b;
}
.top-nav>li:hover .list-view{
    display: block;
}
.list view{
    background : #fff;
    border: 1px solid #999;
    position: absolute;
    z-index: -3px;
}
.top-nav>li:last-child {    
    position: relative;
}
.list-view {
    background: #fff;
    border: 1px solid#ccc;
    position: absolute;
    z-index: 3;
    right: 0;
    top : 50px;
    display: none;
}
.list-view::after{
    content: "";
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    right: 0;
    top: -20px;
    z-index: 4;
    background: url(../images/KakaoTalk_20230217_161853573.png);
}
.icon-list{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding: 15px 20px;
    border-bottom: 1px solid #ededed;
    margin-bottom: 30px;
}
.top-nav>li .icon-list a{

    font-weight: 600;
    color: #000;
}
.icon-list a:hover{
    text-decoration: underline;
}
.icon-list img{
    height: 30px;
}

.icon-list li:not(:last-child){
    margin-right: 40px;
}
.map-list{
    margin: 0px 20px 10px;
}
.map-list>li{
    width: 25%;
    border-right: 1px solid #ededed;
    padding-left: 5px;
}
.map-list>li:last-child{
    border: none;
}
.map-list>li a{
    display: block;
    font-size: 13px;
    color: #2b2b2b;
    margin-top: 2px;
    margin-bottom: 5px;
    text-align: center;
}
a.all{
    display: block;
    padding: 15px;
    background: #eee;
}
/* ##########MAIN###########*/
/* .main{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ff5656;
    font-size: 40;
    text-shadow: 0 0 10px #ff5656;
    width: 15%;
} */
.main-list{
    margin-left: 40px;
}
.main-list a{
    padding:  15px;
}
.main-list>li{
    margin-right: 30px;
    font-size: 18px;
    line-height: 1;;
}
.main-list>li:first-child a,
.main-list>li a:hover{
    font-weight: 600;
    color: red;
}
.main-list>li.last{
    padding-left: 20px;
    border-left: 1px solid #777;
}
.main-list>li.last a{
    color: #ff5656;
}
#serachform{
    width: 20%;
    text-align: right;
}
.selectbox{
    display: inline-block;
    position: relative;
}
.search-sbox{
    position: absolute;
    background: #fff;
    border: 1px solid #333;
    width: 150px;
}
.search-sbox>a{
    display: block;
}
/* ##########SECTION###########*/